
@{
    ViewBag.Title = "用户列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="devicesController">
    <h2 class="page-header">设备列表</h2>
    @Html.Partial("Partial/_ListPageHeadBar")
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>设备Id</th>
                <th>设备名称</th>
                <th>设备类型</th>
                <th>设备型号</th>
                <th>设备操作系统</th>
                <th>时间</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in raws">
                <td>{{row.Id}}</td>
                <td>{{row.Name}}</td>
                <td>{{row.Type}}</td>
                <td>{{row.Model}}</td>
                <td>{{row.OperationSystem}}</td>
                <td>{{row.CreatedTime|date:'yyyy/MM/dd HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </table>
    @Html.Partial("Partial/_ListPageFootBar")
</div>

