
@{
    ViewBag.Title = "用户列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="errorEventsController">
    <h2 class="page-header">错误事件</h2>
    @Html.Partial("Partial/_ListPageHeadBar")
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>账号</th>
                <th>账号Id</th>
                <th>登录IP</th>
                <th>IP所在地</th>
                <th>错误代码</th>
                <th>错误消息</th>
                <th>时间</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in raws">
                <td>{{row.AccountName}}</td>
                <td>{{row.AccountId}}</td>
                <td>{{row.ClientIp}}</td>
                <td>{{row.LoginArea}}</td>
                <td>{{row.Code}}</td>
                <td>{{row.Message}}</td>
                <td>{{row.CreatedTime|date:'yyyy/MM/dd HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </table>
    @Html.Partial("Partial/_ListPageFootBar")
</div>

