<table class="table">
    <thead>
        <tr>
            <th class="col-md-6">指标</th>
            <th class="col-md-6">数值</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>平台抽水率</td>
            <td>data.PumpingRate</td>
        </tr>
    </tbody>
</table>
